In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('./res_purchase_2014.csv', delimiter=',')

In [14]:
df

,Year-Month,Agency Number,Agency Name,Cardholder Last Name,Cardholder First Initial,Description,Amount,Vendor,Transaction Date,Posted Date,Merchant Category Code (MCC)
0,201307,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,GENERAL PURCHASE,890,NACAS,7/30/2013 0:00,7/31/2013 0:00,CHARITABLE AND SOCIAL SERVICE ORGANIZATIONS
1,201307,1000,OKLAHOMA STATE UNIVERSITY,Mason,C,ROOM CHARGES,368.96,SHERATON HOTEL,7/30/2013 0:00,7/31/2013 0:00,SHERATON
2,201307,1000,OKLAHOMA STATE UNIVERSITY,Massey,J,GENERAL PURCHASE,165.82,SEARS.COM 9300,7/29/2013 0:00,7/31/2013 0:00,DIRCT MARKETING/DIRCT MARKETERS--NOT ELSEWHERE...
3,201307,1000,OKLAHOMA STATE UNIVERSITY,Massey,T,GENERAL PURCHASE,96.39,WAL-MART #0137,7/30/2013 0:00,7/31/2013 0:00,"GROCERY STORES,AND SUPERMARKETS"
4,201307,1000,OKLAHOMA STATE UNIVERSITY,Mauro-Herrera,M,HAMMERMILL COPY PLUS COPY EA,125.96,STAPLES DIRECT,7/30/2013 0:00,7/31/2013 0:00,"STATIONERY, OFFICE SUPPLIES, PRINTING AND WRIT..."
...,...,...,...,...,...,...,...,...,...,...,...
442452,201406,98000,GRAND RIVER DAM AUTH.,Cardholder,e,GENERAL PURCHASE,992,TOTAL VALVE SYSTEMS,6/20/2014 0:00,6/23/2014 0:00,HARDWARE EQUIPMENT AND SUPPLIES
442453,201406,98000,GRAND RIVER DAM AUTH.,Cardholder,e,GENERAL PURCHASE,2415,PRYOR WASTE & RECYCLING L,6/20/2014 0:00,6/23/2014 0:00,"UTILITIES - ELECTRIC,GAS,WATER,SANITARY"
442454,201406,98000,GRAND RIVER DAM AUTH.,Cardholder,e,GENERAL PURCHASE,177.5,ACCURATE ENVIROMENTAL LAB,6/20/2014 0:00,6/23/2014 0:00,BUSINESS SERVICES NOT ELSEWHERE CLASSIFIED
442455,201406,98000,GRAND RIVER DAM AUTH.,Cardholder,e,GENERAL PURCHASE,32457,RED BUD SERVICE INC,6/19/2014 0:00,6/23/2014 0:00,PROFESSIONAL SERVICES NOT ELSEWHERE CLASSIFIED
442456,201406,98000,GRAND RIVER DAM AUTH.,Cardholder,e,GENERAL PURCHASE,4714.07,WARRENCAT CREDIT DEPT,6/20/2014 0:00,6/23/2014 0:00,MISCELLANEOUS AND SPECIALTY RETAIL STORES

In [16]:
df['Amount'] = df['Amount'].str.replace(',', '')
df['Amount'] = df['Amount'].str.replace('(', '')
df['Amount'] = df['Amount'].str.replace(')', '')
df['Amount'] = df['Amount'].str.replace('$', '')

In [18]:
df['Amount'] = df['Amount'].str.extract('(\d+)', expand=False)

In [19]:
df['Amount'] = df['Amount'].astype(float)

In [20]:
df['Amount'].sum()

19813775.0

In [22]:
df.loc[df['Vendor'] == 'WW GRAINGER']['Amount'].sum()

191785.0

In [23]:
df.loc[df['Vendor'] == 'WM SUPERCENTER']['Amount'].sum()

0.0

In [24]:
df.loc[df['Vendor'] == 'GROCERY STORES']['Amount'].sum()

0.0

In [25]:
purchase_df = pd.DataFrame(pd.read_csv('res_purchase_2014.csv'))

# Clean the data
purchase_df = purchase_df['Amount'].astype(str)
purchase_df['Amount'] = purchase_df['Amount'].str.extract('(\d+)', expand=False)

# purchase_df = purchase_df.map(lambda x: x.replace('(', '-').replace('$', ''))
purchase_df = purchase_df.astype(float)

KeyError: 'Amount'